# Ignore node_modules directory
node_modules/

# Ignore .DS_Store files created by macOS
.DS_Store

# Ignore logs
logs/
*.log

# Ignore environment-specific files
.env

# Ignore dependencies installed by npm or yarn
# Add any other package managers you use
package-lock.json
yarn.lock

# Ignore editor-specific files
.vscode/
.idea/